footer div {
  width: 218px;
  padding-right: 23px;
  float: left;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px; }
  footer div h3 {
    color: #2f3b3f; }
  footer div p {
    color: #448b74; }
footer div:last-child {
  padding-right: 0; }

.clear {
  clear: both; }

a {
  text-decoration: none; }
