header {
  width: 941px;
  height: 180px;
  margin: auto;
  border: 1px solid red; }

#grey_button {
  font-size: 13px;
  float: right;
  height: 32px;
  width: 110px;
  line-height: 5px;
  padding: 0px 30px;
  color: #aaaaaa;
  background: none repeat scroll;
  background-color: #444444; }

#social > ul > li {
  padding: 0px;
  margin: -15px 5px 100px 0px;
  display: inline-block;
  float: right;
  list-style-type: none; }

#nav_1 > ul > li > a {
  display: inline-block;
  float: right;
  margin: -18px 6px 20px 0px;
  padding-right: 6px;
  border-right: 1px solid #777777;
  color: #aaaaaa; }
  #nav_1 > ul > li > a .logo > img {
    font-size: 40px;
    display: inline-block;
    float: right;
    margin: auto;
    background-color: black; }

footer div {
  width: 218px;
  padding-right: 23px;
  float: left;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px; }
  footer div h3 {
    color: #2f3b3f; }
  footer div p {
    color: #448b74; }
footer div:last-child {
  padding-right: 0; }

body {
  background-color: #E4E6E5;
  width: 941px;
  height: 180px;
  margin: auto;
  border: 1px  red; }

.clear {
  clear: both; }

a {
  text-decoration: none; }

ul {
  list-style-type: none; }
