header
{
    width: 941px;
    height: 180px;
    margin:auto;
    border: 1px solid red;
  }

  #grey_button
  {
    font-size:13px;
    float: right;
    height: 32px;
    width: 110px;
    line-height: 5px;
    padding: 0px 30px;
    color: rgb(170, 170, 170);
    background: none repeat scroll;
    background-color:#444444;
  }
      #social > ul > li
      {
        padding: 0px;
        margin: -15px 5px 100px 0px;
        display:inline-block;
        float: right;
        list-style-type: none;
      }
        #nav_1 > ul > li > a
          {
           display: inline-block;
           float: right;
           margin: -18px 6px 20px 0px;
           padding-right: 6px;
           border-right: 1px solid rgb(119, 119, 119);
           color: rgb(170, 170, 170);

        .logo > img
             {
                font-size:40px;
                display: inline-block;
                float:right;
                margin: auto;
                background-color: black;
              }







}