#nav_2{
  width: 1423px;
  height: 40px;
  margin: auto;

  .search {
    color: rgb(68, 68, 68);
    float: right;
    font-family: MuseoSans,Georgia,"Times New Roman",Times,serif;
    font-size: 15.6px;
    line-height: 40px;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    position: relative;
    top: -2px;
  }

  .focus {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: transparent;
    background-image: none;
    background-origin: padding-box;
    background-position: 0px 50%;
    background-repeat: repeat;
    background-size: auto auto;
    border-bottom: 1px solid rgb(182, 184, 183);
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    border-image-outset: 0 0 0 0;
    border-image-repeat: stretch stretch;
    border-image-slice: 100% 100% 100% 100%;
    border-image-source: none;
    border-image-width: 1 1 1 1;
    border-left: 1px solid rgb(182, 184, 183);
    border-right: 1px solid rgb(182, 184, 183);
    border-top: 1px solid rgb(182, 184, 183);
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    color: rgb(187, 187, 187);
    font-family: MuseoSans,Georgia,"Times New Roman",Times,serif;
    font-size: 14.6667px;
    height: 31px;
    line-height: 17px;
    padding: 0 10px 0 10px;
    text-transform: uppercase;
    width: 144px;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
  }

  .hide {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: transparent;
    background-image: none;
    background-origin: padding-box;
    background-position: 0px 50%;
    background-repeat: repeat;
    background-size: auto auto;
    border-bottom: 1px solid rgb(182, 184, 183);
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    border-image-outset: 0 0 0 0;
    border-image-repeat: stretch stretch;
    border-image-slice: 100% 100% 100% 100%;
    border-image-source: none;
    border-image-width: 1 1 1 1;
    border-left: 1px solid rgb(182, 184, 183);
    border-right: 1px solid rgb(182, 184, 183);
    border-top: 1px solid rgb(182, 184, 183);
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    color: rgb(187, 187, 187);
    display: none;
    font-family: MuseoSans,Georgia,"Times New Roman",Times,serif;
    font-size: 14.6667px;
    height: 31px;
    line-height: 17px;
    padding: 0 10px 0 10px;
    text-transform: uppercase;
    width: 144px;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
  }

  ul {
    text-decoration: none;
    display: inline;
    position: relative;
    top: 10px;
    left: -40px;

    li {
      display: inline;
      list-style: none;
      font-family: MuseoSans,Georgia,"Times New Roman",Times,serif;
      text-decoration: none;
      margin-right: 20px;
      font-weight: 700;
      font-size: 15.6px;
      color: rgb(68, 68, 68);
    }

    #selectednav {
    color: rgb(68,139,116);
    }
  }
}

#nav_3{
  width: 1423px;
  height: 40px;
  margin: auto;
  border-top: 1px solid rgb(182, 184, 183);
  border-bottom: 1px solid rgb(182,184,183);


  img {
    float: right;
    position: relative;
    top: -1px;
    height: 42px;
    z-index: 1;
  }

  #crazybord {
    height: 40px;
    width: 1423px;
    border-top: 1px solid rgb(255, 255, 255);
    border-bottom: 1px solid rgb(255, 255, 255);
    float: left;
    position: relative;
    top: -72px;
  }

  ul:nth-of-type(1) {
    text-decoration: none;
    display: inline;
    float: left;
    position: relative;
    top: -16px;

    li {
      display: inline;
      list-style: none;
      font-size: 13px;
      color: rgb(68, 68, 68);

      line-height: 40px;
      position: relative;
      left: -40px;
      margin-right: 10px;
      padding-right: 15px;
      padding-top: 13px;
      padding-bottom: 12px;
    }

    .bord {
      border-right: 1px solid rgb(182,184,183);
      z-index: 1;
    }
  }
}